---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---
<p><em>Click a project for details.</em></p>

{% include base_path %}

{% assign sorted = site.portfolio | sort: "order" %}

{% assign groups = "Research Collaboration|University of Texas at El Paso|Mike Loya Center for Innovation and Commerce, UTEP|Hyundai Engineering & Construction|Hyundai AutoEver" | split: "|" %}

{% for group in groups %}
  {% assign group_posts = sorted | where: "org_group", group | sort: "path"%}
  {% if group_posts.size > 0 %}
    <h2>{{ group }}</h2>
    {% for post in group_posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
